@charset "UTF-8";

#header {
	width: 100%;
	margin: 0px !important;
	height: 80px;
	color: white;
	background: linear-gradient(135deg, rgba(20,108,148,1) 0%, rgba(25,167,206,1) 30%, rgba(177,224,237,1) 100%);
	position: sticky;
	top: 0;
	box-shadow: 0px 3px 10px rgb(0,0,0,0.3);
	filter: opacity(0.8);
}

#header:hover{
	animation: opacity 0.3s forwards;
}

@keyframes opacity{
	0%{filter: opacity(0.8);}
	100%{filter: opacity(1.0);}
}

label {
    display: block;
    font-weight: bold;
    padding-top: 20px;
    font-size: 1.2rem;
}

body {
	padding: 3px 45px;
	line-height: 1.6;
}

form {
	padding-bottom: 15px;
}