
a {
	color: #146C94;
	text-decoration: none;
	word-wrap: break-word;
}

a:hover{
    animation: hovergradation 5s infinite;
}

@keyframes hovergradation {
     0% {color: cyan;}
     50% {color: magenta;}
     100% {color: yellow;}
}

h2 {
	color: #000000;
	padding-top: 3px;
}

h3 {
    font-size: 1.17em;
    font-weight: bold;
    margin-block-start: 3px;
}

hr {
	border: 1px solid #e5e5e5;
	width: 200px;
	margin: -2px 0px 21px 3px;
	display: block;
}

label {
	display: block;
	font-weight: bold;
}

div[id="projects"] img{
	margin: 0px 0px -3px 5px;
}