
a {
	color: #146C94;
	text-decoration: none;
	word-wrap: break-word;
}

a:hover{
    animation: hovergradation 5s infinite;
}

@keyframes hovergradation {
     0% {color: cyan;}
     33% {color: magenta;}
     66% {color: yellow;}
     100% {color: cyan;}
}

h2 {
	color: #000000;
	padding-top: 3px;
}

h3 {
    font-size: 1.17em;
    font-weight: bold;
    margin-block-start: 3px;
}

hr {
	border: 1px solid #e5e5e5;
	width: 200px;
	margin: -2px 0px 21px 3px;
	display: block;
}

label {
	display: block;
	font-weight: bold;
}

div[id="projects"] img{
	margin: 0px 0px -4px 5px;
}

#scrollTop {
	position: fixed;
	bottom: 30px;
	right: 32px;
	width: 50px;
	opacity: 0.8;
	border-radius: 50px;
	box-shadow: 0px 3px 10px rgb(0,0,0,0.3);
}